.todo-item-container{
    border-style: none;
    display : flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 50%;
    height: 20%;
    flex-wrap: wrap;
    background: linear-gradient(to right, #FF9C60, #FFD6B8);
    /* border: 5px solid; */
    box-shadow: 20px 20px;
    margin-bottom: 30px;
    
}

.todo-item-container:hover{
    border : 5px solid #CFD2CF;
}

.todo-item-cross{
    text-decoration: line-through;
    padding-top: 5%;
    color: black;
    background: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow : hidden;
    overflow-wrap: break-word;

}

.todo-item{
    padding-top: 5%;
    color: black;
    background: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow : hidden;
    text-decoration: none;
    overflow-wrap: break-word;
}

.todo-text{
    margin-left: 5%;
    width: 50%;
    background: none;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 1%;
}

.update-item{
    display: none;
    background: white;
}

.update-item-show{
    display: block;
    background: none;
}
.button-holder{
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: left;
    flex-grow: 1; 
    width: 20%;
    background: none;
}


.todo-item-container li{
    align-items: center;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    border-style: none;
    background: none;
    border-bottom: solid;
    margin-bottom: 5px;
    border-radius: 0px;

}

.button-holder .btn-for-item{
    background: white;
    border: 2px solid;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    width: fit-content;
}

.button-holder .btn-for-item:hover{
    background: white;
    font-weight: bold;
    border: 5px #CFD2CF solid;
}

@media screen and (max-width:990px){
    .todo-item-container {flex-direction: row; width: 90%; box-shadow: none; margin-bottom: 5%;}
    .todo-item-container li {flex-direction: row; width: 90%; font-weight: normal; border-bottom: 1.7px solid;}
    .button-holder  { width:auto; flex-direction: column; gap: 5px; margin-top: 2%; margin-bottom: 2%; margin-right: 2%;}
    .button-holder .btn-for-item{width: 100%; }
}