*{
  border-radius: 5px;
  color: black; 
  text-align: center;
  justify-content: center;
  background: #1e70e1 /*radial-gradient(circle at center,#6CD0FF, #1C2E4C);*/

}



#mainHeader{
  color: white;
}


.todo-input{
  background: white;
  margin: 20px;
  width:15rem;
  height: 25px;
  border: none;
}




