*{
  border-radius: 5px;
  color: black; 
  text-align: center;
  justify-content: center;
  /* background: #48829e */
  /* background: linear-gradient(to left,#6CD0FF, #1C2E4C); */
  /* background-color: ; */
 
}

body{
  height: 100vh;
  background: linear-gradient(to left,#6CD0FF, #1C2E4C);
}

#mainHeader{
  color: white;
}

.myFooter{
  margin: 20px;
  font-size: small;
  font-weight: bold;
  color: white;
}

.myFooter-div{
  margin-bottom: 5%;
  margin-top: 2%;
}

.myFooter-name{
  font-size: small;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.myFooter-name:hover{
  color:orange;
  font-size:medium;
}

.todo-input{
  background: white;
  margin: 20px;
  width:15rem;
  height: 25px;
  border: none;
}




